html {
    height: 100%;
    padding:0;
    margin:0;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url(../res/Background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 0;
  
}

#NL {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 50%;
    background-color: transparent;
    text-align:left;
    clear:both;
    color:#FFFFFF
}

#AL {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
    text-align:left;
    clear:both;
    color:#FFFFFF;
}

.division {
    width: 33%;
    height: 100%;
    display: inline-block;
    padding: none;
}

ol {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border: 1px solid #c2c2c2;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    /*display: table-row;
    height: 20%;*/
    vertical-align: middle;
    text-align: center;
    display: table-row;
}

span {
    display: table-cell;
    border-top: 1px solid green;
    text-align: center;
    vertical-align: middle;
}

.div_title {
    width: 100%;
    height: 20%;
    text-align: center;
    vertical-align: middle;
}

.teams {
    width: 100%;
    height: 80%;
}

#NL_West {

}

#NL_Central {

}

#NL_East {

}

#AL_West {

}

#AL_Central {

}

#AL_East {

}